################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Task_Scheduler_Application/FileContentIndex/merges
/.vs/Task_Scheduler_Application/FileContentIndex
