
@{
    ViewData["Title"] = "Index";
}

<div class="row g-2 container">
    <div class="ps-1 col-md-4 ps-2">
        <div class="col-md-12 mt-4" style="color: white;">
            <div class="card shadow-sm" style="background: linear-gradient(to right, #36d1dc, #5b86e5);">
                <div class="card-header">
                    <h5 class="card-title"><i class="fa-solid fa-book fa-lg"></i> &nbsp; Show Task List</h5>
                </div>
                <div class="card-body">
                    <p class="card-text" style="text-align:justify;">Shows list of Task with JobId, Job Name, Owner Name, Owner mail, Job-fire time etc. to track them easily.</p>
                </div>
                <div class="card-footer">
                    <a role="button" onclick="loader.RedirectToList()" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-5" style="color: white;">
            <div class="card shadow-sm" style="background: linear-gradient(to right, #36d1dc, #5b86e5);">
                <div class="card-header">
                    <h5 class="card-title"><i class="fa-solid fa-duotone fa-calendar-plus fa-lg"></i> &nbsp; Add Job Details</h5>
                </div>
                <div class="card-body">
                    <p class="card-text" style="text-align:justify;">Add Details of job such as job name, endpoints, job owner, owner email,    fire time etc.</p>
                </div>
                <div class="card-footer">
                    <a role="button" onclick="loader.RedirectToAddJob()" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-12 mt-4 ps-5 justify-content-center">
        <section>
            <div class="row d-flex align-items-center">
                <div class="col-md-10">

                    <div id="wrapper-bg" class="card text-white bg-image shadow-4-strong"
                         style="background-image: url('img/clouds.gif'); background-size: cover; border-radius: 10px;">
                        <!-- Main current data -->
                        <div class="card-header p-2 border-0">
                            <div class="text-center mb-3">
                                <p class="h2 mb-1" id="wrapper-name"></p>
                                <p class="mb-1" id="wrapper-description"></p>
                                <p class="display-1 mb-1" id="wrapper-temp"></p>
                                <span class="">Pressure: <span id="wrapper-pressure"></span></span>
                                <span class="mx-2">|</span>
                                <span class="">Humidity: <span id="wrapper-humidity"></span></span>
                            </div>
                        </div>

                        <!-- Hourly forecast -->
                        <div class="card-body p-4 border-top border-bottom mb-2">
                            <strong style="color:white;">Hourly forecast:</strong>
                            <div class="row">
                                <div class="col-2">
                                    <strong class="d-block mb-2" id="wrapper-now"></strong>
                                    <img id="wrapper-icon-hour-now" src="" class="" alt="" />
                                    <strong class="d-block" id="wrapper-hour-now"></strong>
                                </div>

                                <div class="col-2">
                                    <strong class="d-block mb-2" id="wrapper-time1"></strong>
                                    <img id="wrapper-icon-hour1" src="" class="" alt="" />
                                    <strong class="d-block" id="wrapper-hour1"></strong>
                                </div>

                                <div class="col-2">
                                    <strong class="d-block mb-2" id="wrapper-time2"></strong>
                                    <img id="wrapper-icon-hour2" src="" class="" alt="" />
                                    <strong class="d-block" id="wrapper-hour2"></strong>
                                </div>

                                <div class="col-2">
                                    <strong class="d-block mb-2" id="wrapper-time3"></strong>
                                    <img id="wrapper-icon-hour3" src="" class="" alt="" />
                                    <strong class="d-block" id="wrapper-hour3"></strong>
                                </div>

                                <div class="col-2">
                                    <strong class="d-block mb-2" id="wrapper-time4"></strong>
                                    <img id="wrapper-icon-hour4" src="" class="" alt="" />
                                    <strong class="d-block" id="wrapper-hour4"></strong>
                                </div>

                                <div class="col-2">
                                    <strong class="d-block mb-2" id="wrapper-time5"></strong>
                                    <img id="wrapper-icon-hour5" src="" class="" alt="" />
                                    <strong class="d-block" id="wrapper-hour5"></strong>
                                </div>
                            </div>
                        </div>

                        <!-- Daily forecast -->
                        <div class="card-body px-5">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <strong>Today</strong>
                                </div>

                                <div class="col-md-2 text-center">
                                    <img id="wrapper-icon-today" src="" class="w-100" alt="" />
                                </div>

                                <div class="col-md-4 text-end">
                                    <span id="wrapper-forecast-temp-today"></span>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <strong>Tomorrow</strong>
                                </div>

                                <div class="col-md-2 text-center">
                                    <img id="wrapper-icon-tomorrow" src="" class="w-100" alt="" />
                                </div>

                                <div class="col-md-4 text-end">
                                    <span id="wrapper-forecast-temp-tomorrow">28</span>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <strong>Day after tomorrow</strong>
                                </div>

                                <div class="col-md-2 text-center">
                                    <img id="wrapper-icon-dAT" src="" class="w-100" alt="" />
                                </div>

                                <div class="col-md-4 text-end">
                                    <span id="wrapper-forecast-temp-dAT">28</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
    </div>

    @*<div class="col-sm-10">
        <div class="card">
            To Implent weather report
            <button class="btn btn-primary" onclick="weather.CallWeatherApi()">Get Weather</button>
        </div>
    </div>*@
   
</div>
@section Scripts{
    <script src="~/js/loaderbody.js"></script>
    <script src="~/js/weather.js"></script>
    <script src="~/js/weathertemplate.js"></script>
    <script>
        var loader = ContentLoader();
        var weather = LoadWeather();
        var weatherTemplate = WeatherLoader();
        $(document).ready(function(){
            loader.onInit();
            weather.onInit();
            weatherTemplate.onInit();
            weatherTemplate.LoadWeatherData();
        });
    </script>
}

